@using Microsoft.AspNetCore.Components
@using BlazorBootstrap

@if(IsPrimaryHeader)
{
    <div style="margin-top:10px">
        <h3><Icon Name="@ToIcon(Data["IconName"])" /> @Data["Title"]</h3>
        @if (Data.ContainsKey("Subtitle"))
        {
            <p>@Data["Subtitle"]</p>
        }
    </div>
}
else
{
    <div style="margin-top:55px">
        <h4><Icon Name="@ToIcon(Data["IconName"])" /> @Data["Title"]</h4>
        @if (Data.ContainsKey("Subtitle"))
        {
            <p>@Data["Subtitle"]</p>
        }
    </div>
}

@code {
    [Parameter]
    public Dictionary<string, string> Data { get; set; } = new Dictionary<string, string>();

    [Parameter]
    public Boolean IsPrimaryHeader { get; set; } = false;

    public IconName ToIcon(string iconName)
    {
        return iconName switch
        {
            "EmojiSmile" => IconName.EmojiSmile,
            "JournalText" => IconName.JournalText,
            "PersonHearts" => IconName.PersonHearts,
            "PersonVCard" => IconName.PersonVCard,
            "Search" => IconName.Search
        };
    }
}   